# Week3 - Homework

Write a rule based predictor for a given matrix

* Don't use a machine learning model (You can use PCA)

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
df = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/iris.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
df.species.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
for i in df['species'].unique():
    min_val = df[df['species']==i]['sepal_length'].min()
    max_val = df[df['species']==i]['sepal_length'].max()
    print(i,min_val,max_val)

Iris-setosa 4.3 5.8
Iris-versicolor 4.9 7.0
Iris-virginica 4.9 7.9

In [9]:
for i in df['species'].unique():
    min_val = df[df['species']==i]['sepal_width'].min()
    max_val = df[df['species']==i]['sepal_width'].max()
    print(i,min_val,max_val)

Iris-setosa 2.3 4.4
Iris-versicolor 2.0 3.4
Iris-virginica 2.2 3.8

In [10]:
for i in df['species'].unique():
    min_val = df[df['species']==i]['petal_length'].min()
    max_val = df[df['species']==i]['petal_length'].max()
    print(i,min_val,max_val)

Iris-setosa 1.0 1.9
Iris-versicolor 3.0 5.1
Iris-virginica 4.5 6.9

In [11]:
for i in df['species'].unique():
    min_val = df[df['species']==i]['petal_width'].min()
    max_val = df[df['species']==i]['petal_width'].max()
    print(i,min_val,max_val)

Iris-setosa 0.1 0.6
Iris-versicolor 1.0 1.8
Iris-virginica 1.4 2.5

In [23]:
def predict_one(sepal_length, sepal_width, petal_length, petal_width):
    # your code
    if (sepal_length<5.8 and sepal_length>4.3) and (sepal_width<4.4 and sepal_width>2.3) and (petal_length<1.9 and petal_length>1.0) and (petal_width<0.6 and petal_width>0.1):
        return 'Iris-setosa'
    elif (sepal_length<7.0 and sepal_length>4.9) and (sepal_width<3.4 and sepal_width>2.0) and (petal_length<5.1 and petal_length>3.0) and (petal_width<1.8 and petal_width>1.0):
        return 'Iris-versicolor'
    else:
        return 'Iris-virginica'

In [24]:
predictions = pd.Series([ predict_one(*line) for line in df.iloc[:, :4].to_numpy()])
accuracy = sum(df.species == predictions) / len(df)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8266666666666667

In [25]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [31]:
#removing sepal_width as it is negatively correlated
def predict_one(sepal_length, sepal_width, petal_length, petal_width):
    # your code
    if (sepal_length<7.0 and sepal_length>4.9) and (petal_length<5.1 and petal_length>3.0) and (petal_width<1.8 and petal_width>1.0):
        return 'Iris-versicolor'
    elif (sepal_length<5.8 and sepal_length>4.3) and (petal_length<1.9 and petal_length>1.0) and (petal_width<0.6 and petal_width>0.1):
        return 'Iris-setosa'
    else:
        return 'Iris-virginica'

In [32]:
predictions = pd.Series([ predict_one(*line) for line in df.iloc[:, :4].to_numpy()])
accuracy = sum(df.species == predictions) / len(df)
print(f"Accuracy: {accuracy}")

Accuracy: 0.8466666666666667

In [33]:
def predict_one(sepal_length, sepal_width, petal_length, petal_width):
    # your code
    if (sepal_length<5.8) and (petal_length<1.9) and (petal_width<0.6):
        return 'Iris-setosa'
    elif (sepal_length<7.0) and (petal_length<5.1) and (petal_width<1.8):
        return 'Iris-versicolor'
    else:
        return 'Iris-virginica'

In [34]:
predictions = pd.Series([ predict_one(*line) for line in df.iloc[:, :4].to_numpy()])
accuracy = sum(df.species == predictions) / len(df)
print(f"Accuracy: {accuracy}")

Accuracy: 0.94